<nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a  routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>
        <li class = "nav-item">
          <a routerLink="add-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
      </li>
      
    </ul>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is  Employee Managment Project , where you can add Employee,Update Employee,delete employee,List all the Employees
        
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Angular Js</h2>
          <p>The Frontend of this Application is designed using Angular.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>SpringBoot</h2>
          <p>The backend of this Application is Supported by SpringBoot Java </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>MySql - Workbench</h2>
          <p>The dataBase of this Appication which stores each employees data.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>
  <footer class="footer">
    <div class="container">
      <span>All Rights Reserved 2020 @Arnetta</span>
    </div>
  
  </footer>